/* src/app/globals.css */

body {
  background-color: #FFFBF5; /* Our warm, off-white background */
  color: #4D4D4D;           /* Our primary text color */
  font-family: var(--font-inter); /* Our default sans-serif font */
}

/* Style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* This targets the <main> tag in our layout.tsx */
main {
  /* This pushes the content down to prevent it from hiding under the sticky header */
  padding-top: 2rem;
}